.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
out/**
esbuild.js
eslint.config.js
pnpm-lock.yaml
package-lock.json
CHANGES.md
.npmrc
.editorconfig
.prettierrc
.git
.gitignore
.DS_Store
*.vsix
*.webp
*.svg
!icon.png
full.webp